params {
	// Home Directory, current directory
	homeDir = System.properties['user.dir']
	
	//////////////////////////////////
	///////////// params /////////////
	//////////////////////////////////
	// CPUs
	t = 48

	// conda env
	condaenv = '/storage/liam/miniconda3/envs/m6aenv'
}

docker {
	enabled = true
	temp = 'auto'
	runOptions = '--memory=256g'
}
