params {

	// Home Directory, current directory
	homeDir = System.properties['user.dir']
	
	//////////////////////////////////
	///////////// params /////////////
	//////////////////////////////////
	////// SAMPLE FILE //////
	inputFile = params.homeDir + '/samples.tsv'
	// CPUs
	t = 48
	// Memory per process
	mem = "3 GB"

	// Genome Location
	//
	mode = "ncrna"
	genome = params.homeDir + '/B2_UR.fa.filtlength-125'
	
}

docker {
	enabled = true
	temp = 'auto'
	runOptions = '--memory=256g'
}
